.button {
   border: .5px solid lightgrey;
   padding: 10px 10px;
   border-radius: 3px;
   cursor: pointer;
   background-color: white;
   font-weight: 600;
   margin-right: 10px;
   transition: .3s;
   font-size: 18px;
}

.button:hover {
   background-color: rgb(243, 243, 243);
}